[Unit]
Description=Daphne Service
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/harkai-backend/backend
ExecStart=poetry run daphne -u /home/harkai-backend/backend/daphne.sock harkaibackend.asgi:application

[Install]
WantedBy=multi-user.target
